@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* CSS Document */
* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #280809;
    font-family: sans-serif;
    color: #ffb700;
    font-size: 1rem;
}

.LocMap {
    height: 100%;
    width: 100%;
    border: 0;
}

.mySlides {
    display: none;
    text-align: center;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    max-height: 680px;
    padding-top: 7vh;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: rgba(242, 242, 242, 0.5);
    font-size: 15px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1.5vh;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.slidecrop {
    max-height: 680px;
    width: auto;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

main {
    padding: 0;
    padding-left: 1vw;
    padding-right: 1vw;
}

li {
    list-style: none;
}

/* header and navbar related */

.header__logo {
    margin-left: 6vw;
    justify-content: center;
    align-content: center;
    display: flex;
    height: 7vh;
}

.header__logo:hover {
    cursor: pointer;
}

.header_home {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    background-color: #280809;
    width: 100vw;
    height: 7vh;
    min-height: 70px;
    box-shadow:
        0 0 20px 0 rgba(0, 0, 0, 0.5),
        inset 0 0 20px 0 rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    z-index: 2;
}

.navbar {
    float: right;
    height: 100%;
    width: 10%;
    font-size: 1rem;
    min-width: 100px;
    padding: 0;
    display: block;
}

.navbar a {
    display: block;
    color: #f9f9f9;
    text-align: center;
    padding: 0 0;
    margin: 0;
    text-decoration: none;
}

.dropbtn {
    margin-top: -17px;
    margin-left: -3vh;
    align-content: center;
    background-color: inherit;
    color: #f9f9f9;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #381b1c;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #381b1c;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    text-decoration-skip: lead;
    font-weight: bold;
    transition:
        max-height 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content a {
    color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #381b1c;
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.active {
    color: #ffb700;
}

.active:hover {
    background-color: #280809;
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

/* hamburger logo */
.hamburger {
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #ffb700;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* table */

.eventtbl {
    display: grid;
    margin-top: 9vh;
    color: #280809;
    width: 100%;
}

article p {
    color: #d4b2b3;
}

.cropevent {
    width: 100%;
}

/* varia */

h1 {
    font-weight: 999;
    font-size: 4rem;
    margin-top: 6px;
    margin-bottom: 12px;
}

h2 {
    color: #f9f9f9;
    font-size: 1.4rem;
}

h3 {
    font-size: 1.3rem;
}
#h11 {
    padding: 0;
}
#h12 {
    padding: 0;
    margin: 0;
    margin-top: -35px;
    font-size: 3rem;
}

.h21 {
    margin-top: 3vh;
    font-weight: lighter;
    font-size: 1rem;
}
#h13,
#h14 {
    margin-bottom: -33px;
}

#h15 {
    font-size: 3.7rem;
    margin-bottom: -29px;
}

#h16 {
    font-size: 3.75rem;
    margin-bottom: -34px;
}

#h17 {
    font-size: 4.3rem;
    margin-bottom: -34px;
}

#h18 {
    margin-bottom: -34px;
}

#h19 {
    margin-bottom: -34px;
}

#h20 {
    font-size: 4.9rem;
    margin-bottom: -34px;
}

.finger {
    width: 16vw;
    height: auto;
    text-align: center;
}

.fingerpos {
    text-align: right;
    margin-top: -13vh;
}

.hidenav,
.hide {
    display: none;
}

.home_screen {
    width: 100%;
}

.picgroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.croppic {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.overlapImg {
    position: absolute;
    top: 15vh;
    z-index: 1;
    width: 100vw;
}

.slogan1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    position: absolute;
    top: 31vh;
    z-index: 1;
    font-size: 1rem;
}

.e-mail {
    text-decoration: none;
    color: #f9f9f9;
}

.e-mail:hover {
    color: #f9f9f9;
    text-shadow: 2px 2px 4px #000000;
}

.yellow_blocks {
    background-color: #ffb700;
    border-style: hidden;
    height: 1.5vh;
}
.pink_blocks {
    background-color: #d4b2b3;
    border-style: hidden;
    height: 1.5vh;
}

.blanco_blocks {
    border-style: hidden;
}

.historytbl {
    display: grid;
    grid-template-columns: 0 76vw 3vw;
    gap: 13px;
    width: 100%;
}

.kader {
    width: 80%;
    height: 334px;
    z-index: 1;
    position: absolute;
    margin-top: 13px;
}

.k2 {
    height: 144px;
}

article {
    padding-top: 3vh;
    padding-left: 3vw;
}

footer {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
}
footer p {
    background-color: #ffb700;
    margin: -0.1vh 0;
    padding-top: 3vh;
}

.footertbl {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffb700;
    padding: 7vh;
    font-size: 3rem;
}

.footertbl a {
    text-decoration: none;
}

footer table {
    padding: 0;
    margin: -0.1vw;
    margin-top: 3vh;
}

.fa {
    color: #280809;
}

#THM {
    padding-bottom: 3vh;
}

article div p {
    margin: 0;
}
#fp1 {
    margin-top: -9vh;
}
#fp2 {
    margin-top: 7vh;
}

.ticketsgrid {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    gap: 3vw;
    padding: 0 13vw;
}

.ticketsgrid a {
    font-size: 1.5rem;
    text-align: center;
    align-content: center;
    padding: 4vh 0;
    color: #280809;
    background-color: #ffb700;
    text-decoration: none;
    box-shadow:
        0 0 20px 0 rgba(0, 0, 0, 0.5),
        inset 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.ticketsgrid a:hover {
    color: #ffb700;
    background-color: #280809;
    #lilthing {
        color: #280809;
    }
}

.ticketsgrid p {
    background-color: inherit;
    font-size: 0.79rem;
    margin: 0 3vw;
}

.URL {
    width: 150px;
    margin: 0 2vw;
}

#blanco {
    margin: -12vh 0;
}
/*responsivness */
@media only screen and (min-device-width: 500px) {
    main {
        padding-left: 7vw;
        padding-right: 7vw;
    }
    .overlapImg {
        top: 15vh;
        width: 86vw;
    }

    .slogan1 {
        top: 33vh;
        width: 70vw;
    }
    .finger {
        margin-left: -55px;
    }
}
@media only screen and (min-device-width: 600px) {
    .slogan1 {
        top: 40vh;
    }
    .finger {
        margin-left: -66px;
    }
}
@media only screen and (min-device-width: 800px) {
    .slogan1 {
        top: 49vh;
    }
    .finger {
        margin-left: -69px;
    }
}
@media only screen and (min-device-width: 1021px) {
    main {
        padding-left: 15vw;
        padding-right: 15vw;
    }

    .slogan1 {
        font-size: 1.6rem;
        top: 77vh;
    }
    .overlapImg {
        top: 25vh;
        width: 69vw;
    }
    .croppic {
        overflow: hidden;
        width: 90vw;
    }
    ul {
        list-style-type: none;
        margin: 0;
        margin-right: 15vw;
        padding: 0;
    }
    li {
        display: inline-block;
    }

    .header__logo {
        padding-left: 10vw;
        align-content: center;
        justify-content: center;
        display: flex;
        height: 7vh;
    }

    .header__logo:hover {
        cursor: pointer;
    }

    .header_home {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        background-color: #280809;
        width: 100%;
        height: 7vh;
        min-height: 70px;
        box-shadow:
            0 0 20px 0 rgba(0, 0, 0, 0.5),
            inset 0 0 20px 0 rgba(0, 0, 0, 0.5);
        font-size: 1rem;
    }

    .navbar {
        float: right;
        display: flex;
        flex-flow: row-reverse;
        height: 100%;
        width: 10%;
        font-size: 1rem;
        min-width: 100px;
        padding: 0;
    }

    .hideham {
        display: none;
    }
    .hidenav {
        display: inline;
    }

    .hide {
        display: table-cell;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .navitem {
        text-align: center;
        align-content: center;
        box-shadow:
            0 0 20px 0 rgba(0, 0, 0, 0.5),
            inset 0 0 20px 0 rgba(0, 0, 0, 0.5);
    }

    .navitem a {
        width: 123px;
        padding: 2vh;
        display: inline-flex;
        text-decoration: none;
        color: #f9f9f9;
    }
    .dropbtn {
        margin: 0;
        background-color: #280809;
        color: #f9f9f9;
        padding: 25%;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        box-shadow:
            0 0 20px 0 rgba(0, 0, 0, 0.5),
            inset 0 0 20px 0 rgba(0, 0, 0, 0.5);
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #381b1c;
        color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .navitem:hover,
    .dropdown:hover .dropbtn {
        background-color: #381b1c;
        box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.5);
    }

    .dropdown-content a {
        color: #f9f9f9;
        font-weight: 100;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #381b1c;
        box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.5);
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    h1 {
        font-weight: 900;
        font-size: 7rem;
    }

    #h12 {
        margin-top: -55px;
        font-size: 5.2rem;
    }

    .h21 {
        margin-top: 3.69vh;
        font-size: 1.33rem;
    }

    #h13,
    #h14 {
        margin-bottom: -55px;
    }

    #h15 {
        font-size: 6.5rem;
        margin-top: 6px;
        margin-bottom: -55px;
    }

    #h16 {
        font-size: 6.55rem;
        margin-bottom: -57px;
    }

    #h17 {
        font-size: 7.45rem;
        margin-bottom: -59px;
    }

    #h18 {
        margin-bottom: -57px;
    }

    #h19 {
        margin-bottom: -57px;
    }

    #h20 {
        font-size: 9rem;
        margin-bottom: -65px;
    }

    .finger {
        width: 8vw;
        height: auto;
        margin-left: 0;
    }

    .fingerpos {
        text-align: right;
        margin-top: -24.5vh;
    }

    .eventtbl {
        margin-top: 13vh;
        display: grid;
        grid-template-columns: auto auto;
        padding: 21px;
        gap: 21px;
        background-color: #ffb700;
    }

    .cropevent {
        width: 100%;
    }

    article p {
        font-size: 1.5rem;
        color: #d4b2b3;
    }

    .yellow_blocks {
        height: 21px;
    }

    .pink_blocks {
        height: 21px;
    }

    .historytbl {
        margin-top: 3vh;
        display: grid;
        grid-template-columns: auto auto 16.5vh;
        gap: 13px;
        padding: 3px;
    }
    .kader {
        display: inline;
        width: 100%;
        height: 1233px;
        z-index: 1;
        position: absolute;
        margin-top: 0;
    }

    .k2 {
        height: 1449px;
    }

    footer {
        text-align: center;
        color: black;
        font-size: 3rem;
        font-weight: bold;
        padding: 0;
    }
    footer p {
        background-color: #ffb700;
        margin: 0;
        padding-top: 3vh;
    }

    footer table {
        padding: 0;
        margin: -0.1vw;
        margin-top: 7vh;
    }

    #THM {
        padding-bottom: 3vh;
    }

    #fp1 {
        margin-top: -166px;
    }

    #fp2 {
        margin-top: 3vh;
    }

    #fp3 {
        margin-top: -24vh;
        padding-bottom: 7vh;
    }

    .slideshow-container {
        max-width: 75%;
        padding: 0;
        position: relative;
        margin: auto;
        margin-top: 7vh;
    }
    .ticketsgrid {
        display: grid;
        width: 100%;
        grid-template-columns: auto auto;
        gap: 3vw;
        padding: 0 13vw;
    }

    .ticketsgrid a {
        font-size: 2.5rem;
        text-align: center;
        align-content: center;
        padding: 4vh 0;
        color: #280809;
        background-color: #ffb700;
        text-decoration: none;
        box-shadow:
            0 0 20px 0 rgba(0, 0, 0, 0.5),
            inset 0 0 20px 0 rgba(0, 0, 0, 0.5);
    }

    .ticketsgrid a:hover {
        color: #ffb700;
        background-color: #280809;
        #lilthing {
            color: #280809;
        }
    }

    .ticketsgrid p {
        background-color: inherit;
        font-size: 1.5rem;
        margin: 0 3vw;
    }

    .URL {
        width: 289px;
    }
    
    #blanco {
        margin: 0;
        padding: 0;
        max-height: 39.5vh;
        max-width: 34vw;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}
